
.post h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.post-excerpt {
  padding: 0.25rem 0.25rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
}

.posts-list .post-excerpt + .post-excerpt {
  margin-top: 0.5rem;
}

.posts-container.disabled {
  opacity: 0.5;
}

.post-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

p.post-content {
  margin-top: 10px;
}

.button {
  display: inline-block;
  background: #1976d2;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  /* padding: 0.75rem 1.5rem; */
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
}

button.reaction-button {
  border: 1px solid #e0e3e9;
  /* padding: 5px 10px; */
  margin: 5px 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}
